body {
	font-family: Arial, Verdana, Geneva, Arial, sans-serif;
	color: black;
	background-color: #fef1d2;
	font-size: medium;
	line-height: 1.4em;
}

h1 { 
	font-size: 160%;
	font-family: Buxton Sketch;
 }

h2 { font-size: 120%; }

h3 { font-size: 100%; }

p { font-size: 100%; } 

ul { font-size: 100%; } 

em { font-variant: italic; }

img {
	height: 150px;
	width: 200px;
}


/* Start Main Page */

#pic { display: none; }

#links {
 	list-style-type: none;
 	margin: 0;
 	padding: 4px;
 	display: block-inline;

}

.link:link,.link:visited {
 	/*float: left;*/
 	width: 60px;
 	font-weight: bold;
 	color: #EEEEEE;
 	padding-top: 4px;
 	text-decoration: none;
 	text-transform: capitalize; 
}

.link:hover,.link:active {
 	background-color: #FF3333;
}

.link {
 	font-family: Tahoma, Futura, sans-serif;
 	line-height: 30px;
}

#content {
	height:400px;
	width:1000px;
	float:left;
	background: #FFFFFF url("images/codeLarge.jpg") no-repeat right top;
}

#header {
	padding-left: 100px;
	padding-top: 10px;
	background-color: #669999;
	height: 75px;
	border-radius: 5px;
	border: 2px black solid;
	margin-bottom: 2px;
}

#footer {
	float: bottom;
	clear: both;
	width: 400px;
	padding: 15px;
	margin: auto;
	background-color: #FF3333;
	text-align: center;
	border-radius: 5px;
	border: 2px black solid;
}

#menu {
	height:400px;
	width: 100px;
	border: 2px black solid;
	border-radius: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	background-color: #669999;
	float: right;
}

.mainPage { 
	background-color: #FFFFFF;
	color: #EEEEEE;
}

/* End Bio Page */

/* Start Bio Page */
#bio {
	font-family: Buxton Sketch; 
	font-size: 120%;
	padding-left: 40px;
	padding-right: 40px;
}

/*
.picture_table {
	width: 500px;
	height: 500px;
}
*/
.offpage_link:link, .offpage_link:hover, .offpage_link:active  {
	width: 60px;
	text-decoration: none;
 	text-transform: capitalize; 
 	font-family: Tahoma, Futura, sans-serif;
 	line-height: 30px;
 	color: black;
}

/* End Bio Page */


/* Start Resume Page */

.resumeBody {
	border: 2px;
	border-style: double;
	color: black;
	background-image:url("images/textured_paper.png");
	padding-left: 4px;
	padding-right: 4px;
}

/* End Resume Page */