<!doctype html>
<html>
	<head>
		<title>Michael's Bio</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="index.css">
	</head>

	<body id="bio">
		<h1>Michael's Biography</h1>
		<p>
			This is my biography page. I was born in Bremerton, WA in 1983. I was raised in a large family of six. I have two brothers and one sister. My childhood took place in Washington state. I attended elementry, middle school and high school in Lynnwood, WA. All three schools were named meadowdale. 
			My childhood wasn't too exciting living in a suburban neighborhood. However, I did meet lifetime friends in high school and we had good times. We still keep in touch to this day. In high school
			I played football as a linebacker for the varsity team. We weren't exactly <q>good</q>, but I had lots of fun playing. I also ran track and was awarded the freshmen of the year award. 
		</p>

		<table class="picture_table">
			<tbody>
				<tr>
					<td>
						<a href="images/family.jpg"><img src="images/family.jpg" title="My family"></a>
					</td>
					<td>
						<a href="images/grad_family_dinner.jpg"><img src="images/grad_family_dinner.jpg" title="My family"></a>
					</td>
					<td>
						<a href="images/extended_fam.jpg"><img src="images/extended_fam.jpg" title="My extended family"></a>
					</td>

				</tr>
				
			</tbody>
		</table>
		
		<p>
			Eventually living in constant rain got to me, so I decided to move to sunny Arizona. My parents had moved there about a year before I did. I visited and enjoyed the sun and warm weather. I packed all my stuff in my Acura, which included my dog Athena, and drove 32 hours straight to Tucson. My friend Eric was a good friend and drove with me. Without energy drinks and no-doze, we probally wouldn't have made it. When I arrived in Tucson I got a job at GEICO insurance as a claims adjuster. I worked there for five years and met my beautiful wife to be there. Valerie and I got married in a hot air balloon here in Tucson. We just celebrated our three year anniversary. I was able to save up money to attend the University of Arizona. I completed my degree in Computer Science and graduated magna cum laude. I'm currently searching for a job as a software engineer.
		</p>

		<table class="picture_table">
			<tbody>
				<tr>
					<td>
						<a href="images/balloon.jpg"><img src="images/balloon.jpg" title="Ahhhhhh!" alt="picture of balloon">
					</td>
					<td>
						<a href="images/wedding.jpg"><img src="images/wedding.jpg" title="I do" alt="picture before baloon"> 
					</td>
					<td>
						<a href="images/grad_pic.jpg"><img src="images/grad_pic.jpg" title="Woohoo! Graduation." alt="at graduation"> 
					</td>
				</tr>
				
			</tbody>
		</table>
		
		
		<a class="offpage_link" href="index.html">Back to main page</a>
	</body>
</html>