<div class="container">


	<section class="container">
		<h1>Michael Humphrey</h1>

		<p tag="contact" class="resumeBody">
			<h2>Contact Info</h2>
			MICHAEL.J.HUMPHREY@GMAIL.COM <br>
			Phone (425)772-2087 <br>
			<a class="offpage_link" href="https://www.linkedin.com/in/HUMPHREYMICHAEL"> LinkedIn Profile</a>
		</p>

		
	</section>
	<section class="container">
		<p tag="work_experience" class="resumeBody">
			<h2>Professional Experience</h2>

			<h3>Claims Service Rep</h3>
			<b>GEICO</b> <br>
			<em>May 2007 - January 2013</em> <br><br>
			Responsible for taking and filing new losses from current 
			insureds. A diary with 100+ claims needed to maintained, this 
			includes calling on open claims to move towards closure, 
			setting up appointments for inspection, reviewing important 
			police documents for each claim. Handled disputed liability 
			claims, settling these types of claims requires a liability 
			investigation. I took recorded interviews from all parties, 
			looked at photos of the damages, reviewed the scene of the 
			accident ( typically photos ), and finally came to a 
			discussion on which party was liability for the accident. The 
			GEICO claims office puts a priority on excellent customer 
			service while providing quick and efficient service. 
			Multitasking is a must for success, as well as analytically 
			thinking on every accident/claim.
			<br>
			<h3>Resolution Management Specialist</h3>
			<b>Washington Mutual Bank</b> <br>
			<em>February 2006 - January 2007</em> <br><br>
			Responsibilities included, helping classes of new hires transition from the class room to answering the phone with real customers. Took calls from bankers who needed help with an application they were using, or were not sure how to address a customers concern. Responsible for taking phone calls from customers with issues that could not be resolved with the regular banker, including complaints, complex issues with bank accounts, internal errors on the banks side.
			<br>
			<h3>Systems Analyst, Intern</h3>
			<b>Washington Mutual Bank</b> <br>
			<em>December 2005 - February 2006</em><br><br>
			Worked as IT intern. Was responsible for resetting passwords, added new employees into databases. Granted access to new applications for promotions and new employees. Tested software for bugs before distribution to employees by performing the transactions bankers would be performing in a test environment.
		</p>

	</section>
	<section class="container">
		<p tag="education" class="resumeBody">
			<h2>Education</h2>

			<h3>Universities</h3>
			<ul>
				<li>University of Arizona 2012-2014. Graduated with BS in Computer Science. 3.702 GPA</li>
				<li>University of Washington 2002-2006. Studied Mechanical Engineering.</li>
			</ul>

			<h3>Relavant Courses</h3> 
			<ul>
				<li>Analysis of Discrete Structures ( algorithms, java ) (CSC 345)</li>
				<li>Systems Programming and UNIX ( Unix, C and Scripts) (CSC 352)</li>
				<li>Object-Oriented Programming and Design ( team java projects, scrum/agile, OO design ) (CSC 335)</li>
				<li>Introduction to Discrete Structures ( algorithms, java, prolog ) (CSC 245)</li>
				<li>Program Design and Development ( JUnit, test driven development ) (CSC 227)</li>
				<li>Principals of Operating Systems ( C, dlxos ) (CSC 452)</li>
				<li>Algorithms (CSC 445)</li>
				<li>Parallel and Distributive Programming ( C, MPI, parallel program paradigms) (CSC 422)</li>
				<li>Software Engineering ( scrum/agile, 6 man team, flash ) (CSC 436)</li>
			</ul>
		</p>
	</section>
	<section class="container">
		<p tag="skills" class="resumeBody">
			<h3>Skills</h3>
			<h2>Languages</h2>
			<ul>
				<li>Java</li>
				<li>C</li>
				<li>HTML</li>
				<li>CSS</li>
				<li>Python</li>
				<li>AC3</li>
				<li>Assembly</li>
				<li>JUnit</li>
			</ul>
			<h2>IDE's</h2>
			<ul>
				<li>Eclipse</li>
				<li>Flash Builder</li>
				<li>Visual Studio</li>
			</ul>
			<h2>Methodologies</h2>
			<ul>
				<li>Test Driven Development</li>
				<li>Agile/Scrum</li>
				<li>Source Control</li>
				<li>Git Repositories</li>
			</ul>
		</p>

		<a class="offpage_link" href="index.html">Back to main page</a>
	</section>
</div>